.main-pokemons-card{
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 235px);
  margin: auto;
  min-height: 80vh;
  margin: auto;
  padding: 56px;
  justify-content: center;
  padding-top: 0px;
  margin-top: 20px;
 
}
/*box-sizing: border-box;
border: 3.2px solid #fff;
  border-radius:  16px;
  box-shadow: 
  0 0 3.2px #fff,
  0 0 3.2px rgb(251, 0, 0),
  0 0 3.2px #fedb13,
  0 0 12.8px #fedb13,
  0 0 44.8px #fedb13,
  inset 0 0 20.8px #fedb13;*/
/*text-shadow: 0px 0px 10px #FFF,
4px 2px 12px #c88ff1,
-4px 2px 12px #b96df0,
0px -6px 14px #ad52ee,
0px -12px 14px #a43dee,
0px -20px 14px #8318cf,
0px -30px 14px #0A7BFF;*/

.pagination {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: #d4b710 solid;
  text-shadow: 0px 0px 10px #FFF,
4px 2px 12px #c88ff1,
-4px 2px 12px #b96df0,
0px -6px 14px #ad52ee,
0px -12px 14px #a43dee,
0px -20px 14px #8318cf,
0px -30px 14px #0A7BFF;
  padding-top: 0px;
  margin-top: -135px;
}

.pagination-button {
  padding: 9px 12px 9px 12px;
  font-weight: bold;
  font-style: italic;
  color: black;
  background: transparent;
  border-radius: 8px;
  border: 1px solid;
  margin-left: 10px;
  cursor: pointer;
  box-shadow:   0 0 3.2px #fff,
  0 0 3.2px rgb(251, 0, 0),
  0 0 3.2px #fedb13,
  0 0 12.8px #fedb13,
  0 0 44.8px #fedb13,
  inset 0 0 20.8px #fedb13;;
}

.pagination-button:active {
  border-color: #d300fd;
}

.pagination-button:hover {
  color: black;
  box-shadow: 
    0 0 .2rem rgb(0, 0, 0),
    0 0 .2rem #fff,
    0 0 0.2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

.a{
  margin-right: 25px;
}

.p{
  margin-left: 25px;
}

.sinPokemon {
  color: rgb(0, 0, 0);
  font-weight: bold;
  justify-content: center;
  display: flex;
  margin: auto;
  position: absolute;
  font-size: 33px;
  margin-left: 25%;
  margin-top: 15%;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(248, 4, 183);
  text-shadow: 0 0 15px #cd00f6;
}

.linked {
  text-decoration: none;
}